/*Sass Variables*/
/* Custom CSS */
/*Replica Google Font Import*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
/*Resets*/
body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 27px;
  font-weight: 800;
  margin-bottom: .6em; }

h5 {
  font-size: 14px; }

h4 {
  font-size: 15px;
  color: #000000;
  font-weight: 800; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 60px;
  background-color: #f2f0f3; }

.footer {
  padding: 1.2em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000000; }

section {
  min-height: 400px; }

a {
  color: #345973;
  font-weight: 600; }

/*Sub-Resets*/
.gone {
  display: none; }

.overflow-a {
  overflow: auto; }

.col-centered {
  float: none;
  margin: 0 auto; }

.light {
  font-weight: 400; }

.public-slide section h1,
.public-slide section h2,
.public-slide section h3,
.public-slide section h4,
.public-slide section h5,
.public-slide section h6 {
  text-align: center;
  margin-top: .1em; }

section i {
  color: #5BC5C6; }

.navbar {
  border: none;
  background-image: -webkit-linear-gradient(left, #5BC5C6 33%, #125f81 67%);
  background-image: -o-linear-gradient(left, #5BC5C6 33%, #125f81 67%);
  background-image: linear-gradient(to right, #5BC5C6 33%, #125f81 67%);
  height: 76px; }

.inner-nav {
  background-color: #000;
  height: 68px; }

.footer > .container {
  padding-right: 15px;
  padding-left: 15px; }

.btn-primary {
  color: #125f81;
  background-color: transparent;
  border: 3px #125f81 solid;
  border-radius: 0px;
  padding: 0.6em 2em;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 1.9em;
  margin-top: 1.1em; }

.join-btn {
  margin-top: 0.2em;
  margin-bottom: 0.1em;
  margin-right: 1.8em;
  background-color: #5BC5C6;
  color: #000000;
  border-color: #5BC5C6;
  font-weight: 900; }

.log-btn {
  color: #ffffff;
  border-color: #ffffff;
  margin-bottom: 0em;
  margin-top: 0.2em;
  margin-right: 1.8em; }

.view-btn {
  color: #ffffff;
  border-color: #ffffff;
  width: 8.2em;
  margin: 0 auto;
  text-align: center;
  border: 0.35em #ffffff solid;
  padding: 0.5em 1em; }

.uline-none {
  text-decoration: none; }

.public-nav {
  color: #fff;
  font-size: 11px;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 1.1em;
  float: right;
  width: 90%; }

.public-nav li {
  margin-right: 0.8%; }

.public-nav li a {
  font-size: 13px;
  font-weight: 800; }

/*Public Nav*/
.join-button {
  float: right;
  margin-top: 1.2em; }

.log-button {
  float: right;
  margin-top: 1.2em; }

.search-public {
  float: left;
  width: 1em;
  color: red;
  font-size: 24px;
  margin-top: .45em; }

.search-public i {
  color: #ffffff; }

/*Custom Resets*/
.navbar-header {
  margin-top: 0.25em; }

.reinz-logo {
  margin-top: 0.75em; }

.reinz-logo a {
  color: #ffffff;
  font-weight: bold;
  color: white;
  font-size: 26px; }

.page-wrapper {
  margin-top: 55px;
  background-color: #ffffff; }

.header-public-image-top {
  background-image: url("../img/new-public.jpg");
  background-position: center; }

.fa-bar-chart {
  width: 60px;
  font-size: 80px; }

.section-icon, .section-icon-b {
  width: 61px;
  font-size: 60px;
  margin-top: .5em; }

.section-icon-b i {
  color: #fff; }

.media {
  background-color: #5BC5C6; }

.footer-text {
  color: #fff;
  font-size: 10px; }

.section-a-cols {
  color: #125f81;
  font-weight: bold; }

.section-a-cols h4 {
  font-weight: bold;
  min-height: 2em;
  font-size: 15px;
  font-weight: 900;
  width: 140px;
  margin: 0 auto;
  margin-top: 2.2em;
  margin-bottom: 0.5em;
  color: #125f81;
  width: 8em; }

.section-b-cols h4 {
  display: inline-block;
  font-size: 14px;
  font-weight: 900;
  margin-top: 0.3em;
  margin-bottom: 0.2em; }

.section-b-cols {
  margin-top: 1.5em; }

.section-b-cols .col-md-3 {
  margin-bottom: 3em; }

.reinz-nav {
  background: #000000; }

.reinz-nav:first-child {
  margin-top: 1.2em;
  padding: 0em;
  display: inline-block;
  float: right; }

.reinz-nav li {
  display: inline;
  padding: 0.8em 0.2em 0.7em;
  margin-left: 2.5em; }

.reinz-nav ul .nav-button-margin {
  margin-right: 3em; }

.reinz-nav ul li a {
  color: #fff;
  font-weight: 800;
  font-size: 11px; }

ul .nav-searcher {
  margin-right: 0em; }

.member-sub-nav {
  position: fixed;
  width: 100%;
  z-index: 1031;
  margin: 1.5em 0em 0em 0em;
  height: 7.5em;
  background-color: #fff;
  opacity: 0.96;
  -webkit-box-shadow: 0px 2px 4px 0px #cccacc;
  -moz-box-shadow: 0px 2px 4px 0px #cccacc;
  box-shadow: 0px 2px 4px 0px #cccacc; }

.member-sub-nav i {
  font-size: 40px;
  display: block;
  text-align: center;
  margin: 0.5em 0em 0.2em 0em; }

.member-sub-nav p {
  text-align: center;
  font-size: 12px;
  font-weight: 800; }

.eight-split {
  float: left;
  width: 12.5%; }

.nav-searcher i {
  color: #ffffff;
  font-size: 18px;
  padding-top: 0.1em; }

.searcher input[type="text"], textarea {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #ffffff;
  padding: 0em 0em 0.5em 0.5em;
  font-size: 12px; }

.searcher i {
  color: #ffffff;
  margin-right: 0.4em;
  font-size: 20px; }

.newbie {
  display: inline-block; }

.nav-welcome {
  color: #5BC5C6;
  font-size: 13px;
  font-weight: 800;
  display: inline; }

.demo-logo {
  width: 250px;
  height: 40px; }

.logo-col {
  padding-left: 0em; }

.latest-stats {
  margin-top: 9em; }

.latest-stats .col-xs-8 {
  padding: 1em 2.2em 2.2em 1.1em; }

.member-text {
  margin-top: 9.4em; }

/*Quick View Side Boxes*/
.member-text h4 {
  margin-bottom: 0em; }

.member-text p {
  font-size: 16px;
  margin-bottom: 1em; }

.box-a {
  width: 20em;
  height: 7.1em;
  margin: 0 auto;
  margin-top: 2.4em;
  margin-bottom: 1.6em;
  padding: 0.2em 0em 0em 0em;
  background: -webkit-linear-gradient(left, #5BC5C6, #125f81);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #5BC5C6, #125f81);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #5BC5C6, #125f81);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5BC5C6, #125f81);
  /* Standard syntax */ }

.box-b {
  border: solid 3px #125f81;
  width: 20em;
  margin: 0 auto;
  margin-top: 0.8em;
  margin-bottom: 2em;
  padding: 1em; }

.box-c {
  border: solid 3px #125f81;
  width: 20em;
  padding: 1em;
  margin-bottom: 3em;
  margin: 0 auto;
  margin-bottom: 2em; }

.box-a h3 {
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  margin-bottom: .8em;
  margin-top: 0.7em; }

.box-b h3, .box-c h3 {
  width: 6em;
  margin: 0 auto;
  margin-bottom: 0.7em;
  color: #125f81;
  font-weight: 600;
  font-size: 20px;
  display: inline-block; }

.member-text .box-b p, .member-text .box-c p {
  color: #125f81;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0.7em; }

.box-b p .uline-none {
  text-decoration: none; }

.box-b i {
  color: #125f81;
  font-size: 40px;
  display: inline;
  margin: 0em 0.4em 1em 0em; }

.box-c i {
  color: #125f81;
  font-size: 40px;
  display: inline;
  margin: 0em 0.4em 1em 0em; }
