/*Buttons*/
@import "globals.scss";

.btn-primary{
  color: $blue-b;
  background-color: transparent;
  border: 3px $blue-b solid;
  border-radius: 0px;
  padding: 0.4em 1.7em;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 1.9em;
  font-family:'proxima_nova_ththin';
}

.join-btn{
 margin-top: 0.2em;
 margin-bottom:0.1em;
 margin-right: 1.8em;
 background-color: $blue-a;
 color: $black;
 border-color: $blue-a;
 font-weight: 900;
 font-family:'proxima_nova_ththin';
}

.log-btn{
  color: $white;
  border-color: $white;
  margin-bottom: 0em;
  font-size: 16px;
  font-weight: 800;
  float: right;
  font-family:'proxima_nova_ththin';
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 0px;
}

.log-btn:hover{
  color: $white;
  background-color: $blue-a;
  margin-bottom: 0em;
  font-size: 16px;
  font-weight: 800;
  float: right;
  font-family:'proxima_nova_ththin';
  border: 2px solid $blue-a;
}

.go-btn{
  color: $white;
  border-color: $white;
  font-size: 16px;
  margin-left: 2.5em;
  margin-top: 0.9em;
  display: none;
}

.view-btn{
  color: $white;
  border-color: $white;
  width: 8.2em;
  margin: 0 auto;
  text-align: center;
  border: 0.35em $white solid;
  padding: 0.5em 1em;
}

.read-btn {
  color: $blue-b;
  font-size: 12px;
  text-transform: uppercase;
  background-color: transparent;
  width: 9.5em;
  padding: 0.8em 1.1em;
  border: 2px solid $blue-b;
  margin-bottom: 25px;
}

.read-btn:hover {
  color: #fff;
  background-color: $blue-a;
  font-size: 12px;
  text-transform: uppercase;
  width: 9.5em;
  padding: 0.8em 1.1em;
  border: 2px solid $blue-a;
  margin-bottom: 25px;
}

.join-button{
  float: right;
  margin-top: 1.2em;
}

.search-public{
  float: left;
  width: 1em;
  color: red;
  font-size: 24px;
  margin-top: .45em;
}

.splash-login{
  position: absolute;
  top: 34%;
    height: 10em;
    color: #fff;
}
.splash-login input[type="text"], textarea {
  background-color : #000;
  border: 3px solid #fff;
  padding: 5px 0px 5px 6px;
  height: 2.4em;
  color: #fff;
}
.splash-inputs{
  margin: 0 auto;
  width: 88%;
  color: #fff;
}
.splash-input{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  color: #fff;
}
.splash-button{
  float: right;
  border-radius: 0px;
  margin: 10px 8px 6px 0px;
  background-color: #487699;
  font-size: 12px;
  font-weight: 900;
}

.member-login input {
  width: 21em;
  margin: 2em 0.5em 2em 1.9em;
}

.member-login input[type="text"], textarea {
  background-color: transparent;
  border: 0.3em solid #fff;
  padding: 0.4em;
  font-size: 0.7em;
  display: block;
}

.go-button{
  display: inline-block;
}

.log-btn.mob.visible-sm.hidden-xs.btn-xs {
  margin: 0.5em 0em 0em 0px;
  padding: 0.4em 0.8em;

}

.login-btn{
  background-color: transparent;
  color: white;
  padding: 0.3 0.5 0.3 0.5em;
  border: #fff solid 2px;
  float: right;
  font-family: 'proxima_nova_altlight';
  font-size: 16px;
  margin-right: 1em;
  margin-bottom: 1.2em;
  margin-top: 0.8em;
  border-radius: 0px;
}

.search-btn {
  background-color: #000;
  color: white;
  padding: 0.2 0.4 0.2 0.4em;
  border: #000 solid 2px;
  float: right;
  font-family: 'proxima_nova_altlight';
  font-size: 22px;
  margin-right: 1em;
  margin-bottom: 1.2em;
  margin-top: 0.28em;
  border-radius: 0px;
}

.search-btn-b {
  background-color: $blue-b;
  color: white;
  padding: 0.4em;
  border: #fff solid 2px;
  float: right;
  font-family: 'proxima_nova_altlight';
  font-size: 16px;
  margin-top: 0.28em;
  border-radius: 0px;
}

.search-btn:hover{
  color: $blue-a;
}

.login-btn:hover{
  color:  #fff;
  border-color: $blue-a;
  background-color: $blue-a;
}

/* PUBLIC PARALLAX BUTTONS ----------------------------------------- */
  .read-btn-white {
  color: #FFF;
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
  width: 9.5em;
  padding: 0.8em 1.1em;
  border: 2px solid #FFF;
  margin-bottom: 25px; }

  .join-btn-white {
  color: #FFF;
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
  width: 9.5em;
  padding: 0.8em 1.1em;
  border: 2px solid #FFF;
  margin-bottom: 25px;
  font-weight: 800;
  }

  .join-btn-white:hover{
  color: #fff;
  background-color: #8EC6CE;
  font-size: 16px;
  text-transform: uppercase;
  width: 9.5em;
  padding: 0.8em 1.1em;
  border: 2px solid #8EC6CE;
  margin-bottom: 25px; 
  }

.read-btn-white:hover {
  color: #fff;
  background-color: #8EC6CE;
  font-size: 16px;
  text-transform: uppercase;
  width: 9.5em;
  padding: 0.8em 1.1em;
  border: 2px solid #8EC6CE;
  margin-bottom: 25px; }

.home-body .read-btn {
  margin-bottom: 4em;
}

.home-body .join-btn-white, .join-btn-white:hover {
  margin: 4em 0 8em;
}

.search-results .read-btn{
  margin-bottom: 50px;
}

.go-search {
  background-color: #000;
  color: #fff;
  border-radius: 0px;
  text-transform: uppercase;
  font-family: "proxima_nova_altlight";
  font-size: 16px;
}

.go-search:hover {
  background-color: $blue-a;
  color: #fff;
  border-radius: 0px;
  font-weight: 800;
  text-transform: uppercase;
  border-color: $blue-a;
}