/*Shopping Cart Template Overrides*/

.cart{

	width: 98%;
	padding: 4em;
	border: 3px solid $grey;
	border-radius: 2px;

	.btn-primary{
		text-transform: uppercase;
		font-size: 16px;
		color: $white;
		background-color: $blue-b;

		i{
			color: $white;	
		}
		margin-right: 16px;
	}

	.btn-primary:hover{
		font-size: 16px;
		color: $white;
		background-color: $blue-a;
		border: 2px solid $blue-a;

		i{
			color: $white;	
		}
	}

	.btn-default{
		font-size: 16px;
		padding: 8px;
		margin-right: 16px;
	}

	h2{
		color: $blue-b;
		margin-bottom: 1.8em;
	}

	.panel-cat a.list-group-item{
		font-family: 'proxima_nova_altlight';
		font-size: 18px;
		font-weight: 300;
	}

}

.shop{ 

		i {
			font-size: 22px;
			padding-right: 8px;
		}
		.page-title{
			margin-bottom: 2em;
		}

		/*Cart Ajax Indicator Top Left Panel*/
		.cart-content li a b {
			color: $blue-b;
		}

		.table-bordered.tbl-cart a{
			font-size: 20px;
		}

		select{
			padding: 4px;
			font-size: 16px;
		}

		input.input-qty.form-control.text-center, td{
			font-size: 16px;
		}

		.totals td{
			font-size: 20px;
		}

}

.cart-static{
	float: right;
}
