/*Shopping Cart Template Overrides*/

.cart{

	width: 98%;
	padding: 4em;
	border: 3px solid $grey;
	border-radius: 2px;
	min-height: 100vh;

	.btn-primary{
		text-transform: uppercase;
		font-size: 20px;
		color: $white;
		background-color: $blue-b;

		i{
			color: $white;	
		}
		margin-right: 16px;
	}

	.btn-primary:hover{
		font-size: 20px;
		color: $white;
		background-color: $blue-a;
		border: 2px solid $blue-a;

		i{
			color: $white;	
		}
	}

	.btn-default{
		font-size: 20px;
		padding: 8px;
		margin-right: 16px;
	}

	h2{
		color: $blue-b;
		margin-bottom: 1.8em;
	}

	.panel-cat a.list-group-item{
		font-family: 'proxima_nova_altlight';
		font-size: 20px;
		font-weight: 300;
	}

	.details{
		width: 98%;
	}

	i {
		font-size: 22px;
	}

}

.shop{ 


	h3{
		padding-left: 0.2em;
		margin-left: 0.2em;
	}

		i {
			font-size: 22px;
			padding-right: 14px;
			padding-left: 14px;
		}
		.page-title{
			margin-bottom: 2em;
		}

		/*Cart Ajax Indicator Top Left Panel*/
		.cart-content li a b {
			color: $blue-b;
			font-weight: normal;
		}

		.cart-content a, .tbl-cart tbody tr td.hidden-xs a, .tbl-cart tbody tr td a {
			font-weight: normal;
		}

		.table-bordered.tbl-cart a{
			font-size: 20px;
		}

		select{
			padding: 4px;
			font-size: 20px;
		}

		input.input-qty.form-control.text-center, td{
			font-size: 20px;
		}

		.totals td{
			font-size: 20px;
		}

		.input-qty.form-control.text-center {
			min-height: 42px;
		}

		table{
			margin-bottom: 3em;
		}

		td{
			font-size: 20px;
		}

		.order-success, .order-fail{
			float: right;
		}

}

.cart-static{
	float: right;
}
