.footer {

  p {
    color: $ftr-white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    margin:  0px 0px 8px 0px;
  }

  .form-control {
    background-color: $black;
    border: none;
  }

  .input-group-addon {
    color: $white;
    background-color: #02357C;
    cursor: pointer;
    border: none;
  }
}

.ftr-logo {
  margin: 10px 0 15px;
}

.ftr-logo img.responsive.footer-logo {
  height: 90%;
  width: 90%;
}


.ftr-menu {
  padding-left: 0px;
  list-style: outside none none;

  li::first-letter {
    text-transform: capitalize;
  }

  li {
    margin-top: 10px;

    a {
      color: #7D8681;
      font-weight: normal;
      // font-size: 16px;
      text-decoration: none;
    }

    a:hover {
      color: $white;
    }
  }

}

.ftr-social {
  float: right;

  .social-bgd {
    color: $black;
  }

  .fa-stack-1x {
    color: $white;
    font-size: 15px;
  }
}

.ftr-bottom {
  margin-top: 45px;
}


.footer{
  background-color: #000;
  color: #fff;
}

.ftr-logo {
  margin: 10px 0 15px; }

.ftr-menu {
  padding-left: 0px;
  list-style: outside none none; }
  .ftr-menu li::first-letter {
    text-transform: capitalize; }
  .ftr-menu li {
    margin-top: 10px; }
    .ftr-menu li a {
      color: #7D8681;
      font-weight: normal;
      text-decoration: none; }
      .ftr-menu li a:hover{
        color: $blue-a;
      }

.ftr-social {
  float: right; 
  margin-top: 8px;
}
  .ftr-social .social-bgd {
    color: $blue-b; }
  .ftr-social .fa-stack-1x {
    color: #ffffff;
    font-size: 14px; }

.ftr-bottom {
  margin-top: 8px;
  padding: 0em; }


.footer h1 {
  color: #ffffff;
  font-family: "proxima_nova_rgbold";
  font-size: 12pt;
  font-weight: 400;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 18px;
}

.footer p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.7;
  }

.footer .form-control {
  background-color: #000000;
  border: none; }

.footer .input-group-addon {
  color: #ffffff;
  background-color: #02357C;
  cursor: pointer;
  border: none; }

 .footer .col-md-10{
  padding: 2.2em 0em 4em 0em;
 }

.footer-container .ftr-bottom{
  padding: 0em;
}

.row.footer .input-group { 
  padding-top: 2em;
}

.footer div.col-md-3 p {
  color: $grey-b;
}

.footer-logo{
  margin-bottom:1.4em;
}

.footer div.col-md-10.col-md-offset-1 {
  background-color: $black;
}
 
.footer div.col-md-12.footer-container, .col-md-10.col-md-offset-1.ftr-bottom{
  background-image: -webkit-linear-gradient(left, $blue-b 33%, $blue-a 67%);
  background-image: -o-linear-gradient(left, $blue-b 33%, $blue-a 67%);
  background-image: linear-gradient(to right, $blue-b 33%, $blue-a 67%);
  min-height: 60px;
}

.footer-contact i {
  color: $white;
  padding-right: 4px;
}

.copy-foot{
  color: $white;
  padding-left: 1.4em;
  font-size: 12px;
  margin-top: 1.4em;
}
