/*Sass Variables*/
$black: #000000;
$white: #ffffff;
$blue-a: #afd5e5;
$blue-b: #345973;
$blue-c: #5BC5C6;
$blue-d: #125f81; 
$grey: #efefef;


.form-control-a::-webkit-input-placeholder { color: white; }
.form-control-a:-moz-placeholder { color: white; }
.form-control-a::-moz-placeholder { color: white; }
.form-control-a:-ms-input-placeholder { color: white; }