/*Sass Variables*/
$black: #000000;
$white: #ffffff;
$blue-a: #8EC6CE;
$blue-b: #345973;
$blue-c: #5BC5C6;
$blue-d: #125f81;
$grey: #efefef;
$subnav-menu-items-bgd: rgba(0,71,125, 0.9);
$subnav-menu-items-border-top: $blue-b;
