/*Images*/
@import "globals.scss";

.header-public-image-top{
  background-image: url("../img/new-public.jpg");
  background-position:center;
}

.reinz-logo {
  margin-top: 1em;
}

.demo-logo{
  width: 340px;
  height: 58px;
}

.member-fullscrn, .member-fullscrn .page-wrapper{
  background: url('../img/queen.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;
}

.parallax-a {
  background: url("../img/full-c.jpg");
}

.parallax-b {
  background: url("../img/full-i.jpg");
}

.parallax-c {
  background: url("../img/full-f.jpg");
}





