/*Images*/
@import "globals.scss";

.header-public-image-top{
  background-image: url("../img/new-public.jpg");
  background-position:center;
}

.reinz-logo {
  margin-top: 1.5em;
  margin-right: 1em;
}

img.demo-logo{
  margin-right: 20px; 
  width: 235px;
  height: 40px;
}

mini-logo{
  width: 112px;
  height: 50px;
}

.mini-logo{
  display: none;
}

.member-fullscrn, .member-fullscrn .page-wrapper{
  background: url('../img/queen.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;
}

.parallax-a {
  background: url("../img/full-c.jpg");
}

.parallax-b {
  background: url("../img/full-i.jpg");
}

.parallax-c {
  background: url("../img/full-f.jpg");
}

.parallax-d {
  background: url("../img/full-a.jpg");
}

.article-thumb .img-responsive {
  margin-bottom: 1.4em;
}



