/*Layout*/
@import "globals.scss";

html {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  padding-top: 250px;
}

section {
  min-height: 200px;
  background-color: white;
}

#data1 {
  margin-top: 11em;
}

#data2 {
  background-color: #e7eefe;
  padding: 4em 0;
}

hr {
  margin-top: 4em;
  margin-bottom: 4em;
}

.header{
  width:100%;
  display:block;
  min-height:85px;
  background:url(../images/topbg.jpg) top center no-repeat;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  position:fixed;
  top: 78px;
  }

.new-min{
 min-height: 75vh;
 min-height: 75%;
}

 div.col-xs-10.col-xs-offset-1{
  padding: 0px;
 }

.col-md-9 .col-md-12{
  padding-left: 0px;
  padding-right: 0px;
}

.gone {
  display: none;
}

.top-gap{
  margin-top: 192px;
  margin-bottom: 80px;
  margin-bottom: 6em;
  min-height:50vh; 

}

.overflow-a {
  overflow: auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.page-wrapper {
  background-color: $white;
}

.media{
  background-color: $blue-a;
}

.no-shadow{
  box-shadow: none !important;
}

.section-b-cols{
  margin-top: 1.5em;
}

.section-b-cols .col-md-3 {
  margin-bottom: 3em;
}

.eight-split {
  float: left;
  width: 12.5%;
}

.eight-splitb {
  display: inherit;
  height: 100%;
  float: left;
  width: 12.5%;
  color: #fff;
  padding: 1.2em 0.8em 0.8em 0.8em;
}

.eight-splitb:hover {
  background-color: $blue-a;
}

.eight-splitb p.text-center{
  font-size: 15px;
  margin-top: 0em;
  margin-bottom: 0em;
}

.newbie{
  display: inline-block;
}

.logo-col{
  padding-left: 0em;
}

.latest-stats {
  margin-top: 9em;
}

.latest-stats .col-xs-8{
  padding: 1em 2.2em 2.2em 1.1em;
}

.member-text {
  img {
    margin-top: 20px;
  }
}

.article-thumb {
  hr {
    border: 1px solid $blue-b;
    width: 75%;
  }
}


.filter-form {
  color: $white;
  background-color: $blue-b;
  padding: 25px 25px 25px 25px;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  height: 245px;

  .form-control {
    font-size: 12px;
    border-radius: 0;
    margin: 20px auto;
  } 
  .input-group {
    margin-bottom: 20px;

    .form-control {
      margin: 0;
    }
    .input-group-addon {
      cursor: pointer;
    }
  }
  .view-btn {
    color: $white;
    font-size: 12px;
    text-transform: uppercase;
    background-color: transparent;
    width: 6.5em;
    padding: 10px;
    border: 0.05em solid $blue-b;
  }
}

.rec-posts {
  padding: 30px 20px 20px 30px;
  border: 1px solid $blue-a;
  width: 70%;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 50px;

  dl {
    margin-top: 20px;
  }
  dt {
    margin-top: 10px;
  }
}

.box-a {
  width: 22em;
  height: 7.1em;
  margin-bottom: 1.6em;
  padding: .2em 0em 0em 0em;
  background: -webkit-linear-gradient(left, $blue-a , $blue-b); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $blue-a , $blue-b); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $blue-a , $blue-b); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $blue-a , $blue-b); /* Standard syntax */
  float: right;
}

.box-b {
  border: solid 3px $blue-b;
  width: 22em;
  margin-top: 0.8em;
  margin-bottom: 2em;
  padding: 1em;
  float: right;
  clear: both;
}

.box-c {
  border: solid 3px $blue-b;
  width: 22em;
  padding: 1em;
  margin-bottom: 3em;
  margin-bottom: 2em;
  float: right;
  clear: both;
}

.member-fullscrn{
  margin-bottom: 0px;
}

.full-scrn{
  margin-top: 5.4em;
}

.full-scrn .col-xs-10{
  text-align: center;
}

.full-scrn .col-md-3{
    margin-bottom: 6em;
}
.full-scrn .col-md-3 a{
  display: inline-block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  margin-bottom: 4.2em;
}

.fill{
  min-height: 100vh;
  height: 100vh;
}


/*Splash Page Layout*/
.splash{
  height: 100%;
}

/*Custom Classes*/
.right-home-panel {
  background-color: #000;
  color: #FFF;
  height: 100%;
  font-size: 14px;
}
.left-home-panel {
  height: 100%;
  background: url("../img/home-main.jpg") no-repeat center top scroll;
  background-size: cover;
}

/*Member Login Page Layout*/
.member-login {
  padding-left: 2.1em;
}

.member-login-box {
  width: 16em;
}

.reinz-nav ul {
  float: right;
}

.member-login-box h2 {
  margin-top: 1.4em;
}

.para {
  margin: 3.2em 0em 3.2em 0em;
  height: 26em;
}

.para-large{
  height: 36em;
}

.apps .h4 {
  margin-bottom: 6em;
}

.member-login-outer {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.v-center{
  width: 100%;
  height: 80%;
  margin-top: 30%;
  padding-top: 10%;
  /*padding-top: 17.5vh;*/
  margin: 0 auto;
}

.v-center a:hover{
  .r-font-nav-b{color: $blue-a;}
  h4{color: $blue-a;}
}


.spacer-a {
  margin: 20px 0 20px 0;
}

.bg-light{
  background-color: $blue-a;
}

.bg-dark{
  background-color: $blue-b;
}

.image-section{
  margin-bottom: 2em;
  max-height: 400px;
}

.image-section img {
  height: 400px;
}

.img-bdr-r{
  border-right: 1px solid $grey;
  padding-right: 30px;
}

.img-bdr-l{
  border-left: 1px solid $grey;
  padding-left: 30px;
}


.pad-adjust{
  padding: 2px;
}

/* Public Paralax LAYOUT -------------------------------------------- */
.section-intro {
  padding-top: 10em;
}

.home-body .section-1,.home-body  .section-2,.home-body  .section-3,.home-body  .section-4,.home-body  .section-5,.home-body  .section-6 {
  padding: 7em 0;
}


.home-body  .section-intro {
  background-image: url("../img/full-e-grad.jpg"); 
  background-size: cover; 
  background-attachment: fixed;
}


.home-body .section-2 {
  background-image: url("../img/full-b-grad.jpg"); 
  background-size: cover;
  background-attachment: fixed;
}

.home-body .section-4 {
  background-image: url("../img/full-c-grad.jpg"); 
  background-size: cover;
  background-attachment: fixed;
}

.home-body .section-6 {
  background-image: url("../img/027-grad.jpg"); 
  background-size: cover;
  background-attachment: fixed;
}