/*Media Queries*/

/* Large Devices, Wide Screens */
/*@media(min-width:768px){
	.public-nav li a {
	font-size: 24px;
	}	
}
@media(min-width:992px){
	.public-nav li a {
	font-size: 38px;
	}	
}
@media(min-width:1200px){
	.public-nav li a {
	font-size: 10px;
	}	
}*/


/* Extra Small xs*/
@media(max-width:767px){
	.public-nav li a {
	font-size: 15px;
	}	
}

/* Small sm*/
@media(min-width:768px) and (max-width:991px){
	.public-nav li a {
	font-size: 15px;
	}	
}

/* Medium md*/
@media(min-width:992px) and (max-width:1199px){
	.public-nav li a {
	font-size: 16px;
	}	
}

/* Large lg*/
@media(min-width:1200px){
	.public-nav li a {
	font-size: 19px;
	}	
}