/*Media Queries*/

/* Extra Small xs*/
@media(max-width:767px){
	.public-nav li a,
	.public-nav li li a {
		font-size: 14px;
	}
}

/* Small sm*/
@media(min-width:768px) and (max-width:991px){
	.public-nav li a,
	.public-nav li li a {
		font-size: 14px;
	}
	.member-sub-nav-b ul {
		margin-left: 3em;
	}
	.member-sub-nav-b ul li {
		margin-right: 3em;
	}
}

/* Medium md*/
@media(min-width:992px) {
	.public-nav li a,
	.public-nav li li a {
		font-size: 14px;
	}
	.member-sub-nav-b ul {
		margin-left: 4em;
	}
	.member-sub-nav-b ul li {
		margin-right: 3em;
	}
}

/* Large lg*/
@media(min-width:1200px){
	.public-nav li a,
	.public-nav li li a {
		font-size: 15px;
	}
	.member-sub-nav-b ul {
		margin-left: 4.5em;
	}
	.member-sub-nav-b ul li {
		font-size: 15px;
		margin-right: 4.5em;
	}
}

// XL
@media(min-width:1920px) {
	.member-sub-nav-b ul {
		margin-left: 10.5em;
	}
	.member-sub-nav-b ul li {
		font-size: 17px;
		margin-right: 6.5em;
	}
}
