/*Media Queries*/

/*Media Queries For Public Nav Re-Sizing*/

@media(max-width:767px){
	a.sf-with-ul, .sf-menu.public-nav a{
		font-family:'proxima_nova_ththin';
		font-size: 1.3em;
		padding-left: 0.38em;
		padding-right: 0.38em;
		margin-top: 0.35em;
	}

	#sample-menu-1.sf-menu.public-nav.sf-js-enabled{
		left: 48%;
		margin-top: 1.55em;
	}

	.mini-logo{
		display: block;
	}
	.demo-logo{
		display: none;
	}

	.log-btn{
		font-size: 14px;
		padding: 0.4em 1.5em;
	}

	.search-extend i.fa.fa-search{
		font-size: 22px;
		margin-top: 1.4em;
	}
}


@media(min-width:768px) and (max-width:991px){
	a.sf-with-ul, .sf-menu.public-nav a{
		font-family:'proxima_nova_ththin';
		font-size: 1.3em;
		padding-left: 0.38em;
		padding-right: 0.38em;
		margin-top: 0.35em;
	}

	#sample-menu-1.sf-menu.public-nav.sf-js-enabled{
		left: 48%;
		margin-top: 1.55em;
	}

	.mini-logo{
		display: block;
	}
	.demo-logo{
		display: none;
	}

	.log-btn{
		font-size: 14px;
		padding: 0.4em 1.5em;
	}

	.search-extend i.fa.fa-search{
		font-size: 22px;
		margin-top: 1.4em;
	}
}


@media(min-width:992px) and (max-width:1049px){
	a.sf-with-ul, .sf-menu.public-nav a{
		font-family:'proxima_nova_ththin';
		font-size: 1.3em;
		padding-left: 0.38em;
		padding-right: 0.38em;
		margin-top: 0.35em;
	}

	#sample-menu-1.sf-menu.public-nav.sf-js-enabled{
		left: 48%;
		margin-top: 1.55em;
	}

	.mini-logo{
		display: block;
	}
	.demo-logo{
		display: none;
	}

	.log-btn{
		font-size: 14px;
		padding: 0.4em 1.5em;
	}

	.search-extend i.fa.fa-search{
		font-size: 22px;
		margin-top: 1.4em;
	}

}

@media(min-width:1050px) and (max-width:1200px){
	a.sf-with-ul, .sf-menu.public-nav a{
		font-family:'proxima_nova_ththin';
		font-size: 1.4em;
		padding-left: 0.4em;
		padding-right: 0.4em;
	}

	#sample-menu-1.sf-menu.public-nav.sf-js-enabled{
		left: 48%;
		margin-top: 1.8em;
	}

	.mini-logo{
		display: block;
	}
	.demo-logo{
		display: none;
	}

	.log-btn{
		font-size: 14px;
		padding: 0.4em 1sem;
		}

	.search-extend i.fa.fa-search{
		font-size: 22px;
		margin-top: 1.2em;
	}

}


@media(min-width:1201px) and (max-width: 1580px){
	a.sf-with-ul, .sf-menu.public-nav a{
		font-size: 16px;
		padding-left: 0.7em;
		padding-right: 0.7em;
	}

	#sample-menu-1.sf-menu.public-nav.sf-js-enabled{
		left: 48%;
		margin-top: 1.78em;
	}

	.mini-logo{
		display: block;
	}
	.demo-logo{
		display: none;
	}

	.log-btn{
		font-size: 14px;
		padding: 0.4em 1sem;
		}

	.search-extend i.fa.fa-search{
		font-size: 22px;
		margin-top: 1.2em;
	}

}


@media(min-width:1600px) and (max-width: 1680px){
	a.sf-with-ul, .sf-menu.public-nav a{
		font-size: 18px;
		padding-left: 0.8em;
		padding-right: 0.8em;
	}

	#sample-menu-1.sf-menu.public-nav.sf-js-enabled{
		margin-top: 1.75em;
		left: 50%;
	}

	.mini-logo{
		display: block;
	}
	.demo-logo{
		display: none;
	}

}
