/*Modal-Layout*/

.modal{
    z-index: 5000;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
    padding: 1em;
}

div.modal-header{
	background-color: $black;
	border-bottom: 5px solid $blue-a;
}

.modal-header h2 {
    color: #fff;
}

h4#searchModallLabel.modal-title{
    color: #fff;
}

.form-horizontal div.form-group{
	margin: 40px 0px 40px 0px;
}

.modal-body form.form-horizontal div.form-group label.col-sm-2.control-label{
	font-size: 16px;
}	

.modal-content div.modal-footer{
	background-color: $black;
	border-top: 3px solid $blue-a;
}

.form-group label.col-sm-2.reinz-id-label.control-label {
    text-align: left;
}

.close {
    color: #fff; 
    opacity: 1;
}

.close:hover {
    color: $blue-a; 
    opacity: 1;
}

.remember-check{
    float: right;
}


.modal ul {
  list-style-type: disc; 
  list-style-position: inside;
  font-family: "proxima_nova_altlight";
  font-size: 20px;
  line-height: 1.05em;
}

.modal ol li{
    list-style-type: decimal;
    font-family: "proxima_nova_altlight";
    list-style-position: inside; 
    font-size: 20px;
    line-height: 1.05em;
}

