/*Navigation*/
@import "globals.scss";
.navbar {
  border: none;
  background-image: -webkit-linear-gradient(left, $blue-a 33%, $blue-b 67%);
  background-image: -o-linear-gradient(left, $blue-a 33%, $blue-b 67%);
  background-image: linear-gradient(to right, $blue-a 33%, $blue-b 67%);
  height: 6.5em;
}

.inner-nav {
  background-color: #000;
  height: 6em;
}

.public-nav {
    color: #fff;
    font-size: 11px;
    font-weight: 800;
    margin: 0 auto;
    margin-top: 1.1em;
    float: right;
    width: 90%;
}

.public-nav li {
  margin-right: 0.8%;
}

.navbar-header{
  margin-top: 0.25em;
}

.reinz-nav ul .nav-button-margin{
  margin-right: 3em;
}

ul .nav-searcher {
  margin-right: 0em;
}

.member-sub-nav{
  position: fixed;
  width: 100%;
  z-index: 1031;
  margin: 1.5em 0em 0em 0em; 
  height: 7.5em;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(204,202,204,1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(204,202,204,1);
  box-shadow: 0px 2px 4px 0px rgba(204,202,204,1);  
}

.member-sub-nav p {
  text-align: center;
  font-size: 12px;
  font-weight: 800;
}

.member-sub-nav-b{
  display: none;
  height: 3.5em;
  padding-top: 0.8em;
  margin-bottom: 1em;
  background-color: #efefef;
}

.member-sub-nav-b ul {
  width: 80em;
  margin: 0 auto;
}

.member-sub-nav-b ul li {
  display: inline-block;
  margin-right: 1em;
}

.reinz-nav{
    background: $black; 
    width: 60em;
    height: 5em;
}

.reinz-nav input[type="text"], textarea {
  background-color : #000000;
  border: none;
  color: #fff; 
  font-size: 16px;
}

.reinz-nav ul {
	width: 38em;
	display: inline-block;
	margin-top: 1.1em;
	height: 4em;
}
.reinz-nav:first-child {
   margin-top: 0.5em;
   padding: 0em;
   display: inline-block;
   float: right;
}

.reinz-nav li{
  display: inline;
  padding: 0.8em 0.2em 0.7em; 
  margin-left: 2.5em;
}

.nav-button{
	width: 11em;
	display: inline-block;
	float: right;
	margin-left: 1.5em;
	margin-top: 1em;
	margin: 1em 0em 0em 1.5em;
}

.nav-button button{
	margin-top: 0em;
}