article, aside, figure, footer, header, hgroup, menu, nav, section {display: block;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-decoration: none; -webkit-font-smoothing: antialiased;}
html, body, iframe, h1, h2, h3, h4, h5, h6{margin:0px; padding:0px; border:0px; font: inherit; vertical-align:baseline; font-weight:normal; font-size:12px; line-height:18px;font-family:Helvetica, Arial, sans-serif; -webkit-font-smoothing:subpixel-antialiased; font-smoothing:antialiased; font-smooth:antialiased; -webkit-text-size-adjust:100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing:subpixel-antialiased !important; font-smoothing:subpixel-antialiased !important; font-smooth:subpixel-antialiased; }
.clearfix:before, .clearfix:after{content: ""; display: table;}.clearfix:after{clear: both;}.clearfix{zoom: 1;}.cl{clear: both;}
ul, ol{margin-top:0px; margin-right:0px; margin-left:0px;  margin-bottom:0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;    box-sizing: border-box; padding:0px ; list-style:none;}
li{ margin:0px; padding:0px; }
textarea{min-height: 60px; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:5px 0px 5px 0px;}
input[type="text"], input[type="password"],  input[type="email"],  textarea,  select{ padding:2px 2px; outline: none; display: block; background: #fff; text-indent:4px; color:#2c2c2c; border: solid 1px #b9b9b9;  -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;  }
input[type="text"]:focus,  input[type="password"]:focus,  input[type="email"]:focus,  textarea:focus{ -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2); box-shadow: 0 0 3px rgba(0,0,0,.2);}
.button, input[type="submit"], input[type="reset"], input[type="button"] {cursor:pointer; padding:0; }
button::-moz-focus-inner,  input::-moz-focus-inner{border: 0;padding: 0;}
a:focus {outline:none !important;}


/*------------------------------------ Desktop CSS ---------------------------------------------*/
.wsmenuexpandermain{position: relative;}
.overlapblackbg{ display:none;}
.bigmegamenu{ position:relative; }
.wsmenu{
	font-family:Helvetica, sans-serif;
	color:#fff;
	font-size:13px;
	padding:0px;
	float:right;
	-webkit-border-radius:2px 2px 2px 2px;
	-moz-border-radius:2px 2px 2px 2px;
	border-radius:2px 2px 2px 2px;
	z-index: 1260;
}


.wsmenu-list{
	text-align:left;
	margin:0 auto 0 auto;
	width:100%;
	display: table;
	padding:0px;}
	
.wsmenu-list > li{
	text-align:center;
	display: table-cell;}
	
.wsmenu-list li:first-child a{
	-webkit-border-radius:2px 2px 2px 2px;
	-moz-border-radius:2px 2px 2px 2px;
	border-radius:2px 2px 2px 2px;
	}
	
.wsmenu-list li:last-child a{
	-webkit-border-radius:2px 2px 2px 2px;
	-moz-border-radius:2px 2px 2px 2px;
	border-radius:2px 2px 2px 2px;
	border-right:0px solid;
	}
	
.wsmenu-list > li > a .fa{
	display: inline-block;
	font-size:14px;
	line-height:inherit;
	 }
	
.wsmenu-list li ul li a .fa.fa-angle-double-right{ font-size:12px; margin: 0 3px 0 -4px;}

.wsmenu-list li a .arrow:after {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #b3b3b3;
    content: "";
    float: right;
    height: 0;
    margin: 0 0 0 9px;
    position: absolute;
    text-align: right;
    top: 22px;
    width: 0;}

.wsmenu-list > li > a{
	display:block;
	color:#E5E5E5;
	padding:0px 14px; line-height:48px;
	text-decoration:none;
	position:relative;

}

/*.wsmenu-list li a:hover .arrow:after{ border-top-color:#b3b3b3}
.wsmenu-list li a.active .arrow:after{ border-top-color:#b3b3b3}
.wsmenu-list li:hover>a .arrow:after{ border-top-color:#b3b3b3}
*/
.megamenu iframe{width:100%; margin-top:10px; min-height:200px; }
.megamenu video{ width:100%; margin-top:10px;  min-height:200px;}

/*For megamenu desktop */
.wsmenu-list li:hover .megamenu{opacity:1;}
.megamenu{
	width:100%;
	left:0px;
	position:absolute;
	top:48px;
	color:#000;
	z-index:1000;
	margin:0px;
	text-align:left;
	font-size:15px;
	background-color:#fff;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.2s, opacity 0.2s;
	-ms-transition: -ms-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;}

.megamenu .title{	
	font-size:14px;
	padding:9px 5px 9px 0px;
	font-size:17px;
	color:#424242;
	margin-bottom:7px;
	text-align:left;
	height:39px;}
	
.link-list li{
	display:block;
	text-align:center;
	white-space:nowrap;
	text-align:left;}
	
.link-list li a{
	line-height:18px;
	border-right:none;
	text-align:left;
	padding:6px 0px;
	background:#fff !important;
	background-image:none !important;
	color: #666666 !important;
	border-right: 0 none !important;
	display:block;
	border-right:1px solid #e7e7e7;
	background-color:#fff;
	color:#424242;}
	
.link-list .fa{font-size:11px;}

.megacollink{width:23%; float:left; margin:0% 1%;}	
.megacollink li{
	display:block;
	text-align:center;
	white-space:nowrap;
	text-align:left;}
.megacollink li a{
	line-height:18px;
	border-right:none;
	text-align:left;
	padding:8px 0px;
	background:#fff !important;
	background-image:none !important;
	color: #666666 !important;
	border-right: 0 none !important;
	display:block;
	border-right:1px solid #e7e7e7;
	background-color:#fff;
	color:#424242;}
.megacollink .fa{font-size:11px;}

.megacolimage{width:31.33%; float:left; margin:0% 1%;}	
.typographydiv{width:100%; margin:0% 0%;}	
.typographylinks{width:25%; float:left; margin:0% 0%;}	
.mainmapdiv{ width:100%; display:block; margin:0% 0%; }

.wsmenu-list .ad-style{width:28%; float:right;}
.wsmenu-list .ad-style a{border:none !important; padding:0px !important; margin:0px !important; line-height:normal !important; background-image:none !important;}
.mobile-sub .megamenu .ad-style a:hover{ background-color:transparent !important; }
.wsmenu-list .megamenu  li:hover>a{background:transparent !important;}
.wsmenu-list .megamenu  li a:hover{background:transparent !important; text-decoration:underline;}
.wsmenu-list .megamenu li .fa {  margin-right:5px;    text-align: center;    width: 18px;}
.mrgtop{ margin-top:15px; }
.show-grid div{padding-bottom: 10px; padding-top: 10px; background-color:#dbdbdb; border: 1px solid #e7e7e7; color:#6a6a6a; margin:2px 0px;}

/*Form for desktop */
.halfdiv{
	width:35%;
	right:0px !important;
	left:auto;}
	
.menu_form{width:100%; display:block;}
.menu_form input[type="text"]{
	width:100%;
	border:1px solid #e2e2e2;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#000;
	font-size:13px;
	padding:8px 5px;
	margin-bottom:8px;
	}
.menu_form textarea{
	width:100%;
	border:1px solid #e2e2e2;
	border-radius:5px;
	color:#000;
	font-size:13px;
	padding:8px 5px;
	margin-bottom:8px;
	min-height:122px;}
	
.menu_form input[type="submit"]{width:25%; display:block; height:28px; float:right;  border:solid 1px #ccc; margin-right:15px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.menu_form input[type="button"] {width:25%; display:block; height:28px; float:right; border:solid 1px #ccc; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}

.megamenu .left.carousel-control{ padding-top:20%; }
.megamenu .right.carousel-control{ padding-top:20%; }
.carousel-inner .item img{ width:100%; }
.megamenu .carousel-caption{
	bottom:0px;
	background-color:rgba(0,0,0,0.7);
    font-size: 13px;
    height: 31px;
    left: 0;
    padding: 7px 0;
    right: 0;
    width: 100%;}

/*Animation*/
.wsmenu-list li > .wsmenu-submenu{
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility:hidden;
		}
	
.wsmenu-list li:hover > .wsmenu-submenu{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    opacity: 1;
	visibility:visible;
	}

.wsmenu-submenu li > .wsmenu-submenu-sub{
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility:hidden;
	}
	
.wsmenu-submenu li:hover > .wsmenu-submenu-sub{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    opacity: 1;
	visibility:visible;
	}

.wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub{
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility:hidden;
	}
	
.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    opacity: 1;
	visibility:visible;
	}


.wsmenu-list li > .megamenu{
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility:hidden;
	}
	
.wsmenu-list li:hover > .megamenu{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    opacity: 1;
	visibility:visible;
	}

	
/* Submenu CSS */
.wsmenu-submenu{
	position:absolute;
	top: 62px;
	z-index:1000;
	margin:0px;
	padding:2px;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.2s, opacity 0.2s;
	-ms-transition: -ms-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;}

.wsmenu-submenu li a {
	background:#fff;
	background-image:none !important;
	color: #fff;
	border-right: 0 none !important;
	text-align:left;
	display:block;
	line-height:22px;
	padding:10px 16px;
	text-transform:none; 
	font-size:13px;
	letter-spacing:normal;
	border-right:0px solid;
}

.wsmenu-submenu li{position:relative; margin:0px; padding:0px;}

.wsmenuexpandermain{display:none;}

.wsmenu-list li:hover .wsmenu-submenu{display:block;}

.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub{min-width:220px; position:absolute; left:100%; top:0; margin:0px; padding:0px;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.2s, opacity 0.2s;
	-ms-transition: -ms-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;}
	
.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub{opacity:1; list-style:none; padding:2px; border:solid 1px #eeeeee; background-color:#fff;}
.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub{display:block;}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub .wsmenu-submenu-sub-sub{
	min-width:220px; position:absolute; left:100%; top:0; margin:0px; padding:0px;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.2s, opacity 0.2s;
	-ms-transition: -ms-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;}
	
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub{opacity:1; list-style:none; padding:2px; border:solid 1px #eeeeee; background-color:#fff;}
.wsmenu-submenu li{position:relative; padding:0px; margin:0px; display:block;}
.wsmenu-click{display:none;}

/* Default Theme */ 

/*.wsmenu-submenu > li > a:hover {background-color:rgba(0,0,0,0.08) ; border-radius:0px!important; text-decoration:none;  text-decoration:none;}
*/
.typography-text { padding:0px 0px; font-size:15px;}
.typography-text p{ text-align:justify; line-height:24px; color:#656565;}
.typography-text ul li{ display:block; padding:2px 0px; line-height:22px;}
.typography-text ul li a{color:#656565;}
.hometext{display:none;}
.wsmenu-submenu .fa{ margin-right:7px;}


